{% extends "base.html" %}
{% block h1 %} THIS IS Delete {% endblock %}


{% block nav %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href={{ url_for('showFighters') }}>Show</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={{ url_for('editFighters')}}>Edit</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href={{ url_for('deleteFighters')}}>Delete</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href={{ url_for('loginFighters')}}>Login</a>
    </li>
  </ul>
{% endblock %}
